{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>College Education</title>
<!-- Bootstrap CSS -->
<link href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<!-- Font Awesome CSS-->
<link href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
<!-- Mobile Menu Css -->
<link href="{% static 'assets/css/meanmenu.css' %}" rel="stylesheet">
<!-- Custom CSS -->
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/one.css' %}" id="style_theme" rel="stylesheet">
<!-- Animate CSS -->
<link href="{% static 'assets/animate/animate.css' %}" rel="stylesheet">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>
<!-- Pre Loader -->
<!-- <div id="dvLoading"></div> -->
<!-- Color Swicher -->
<!-- <div class="theme-settings" id="switcher"> <span class="theme-click"><i class="fa fa-paint-brush" aria-hidden="true"></i></span> <span class="theme-color theme-default theme-active" data-color="one"></span> <span class="theme-color theme-two" data-color="two"></span> <span class="theme-color theme-three" data-color="three"></span> <span class="theme-color theme-four" data-color="four"></span>
  <p>(Or) Your favorite color</p>
</div> -->
<!-- Header Start -->
<header class="wow fadeInDown" data-offset-top="197" data-spy="affix">
  <div class="top-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6 hidden-xs top-wraper-left">
          <ul>
            <li> <a href="mailto:support@yourdomain.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>support@yourdomain.com</a></li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>+1-0123-456-789</li>
          </ul>
        </div>
        <div class="col-md-7 col-sm-6 hidden-xs">
          <ul class="pull-right">
            <li>
              <ul class="header-social-icons">
                <li class="facebook"><a href="javascript:void(0)" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a href="javascript:void(0)" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li class="linkedin"><a href="javascript:void(0)" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <li class="pinterest"><a href="javascript:void(0)" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li class="google-plus"><a href="javascript:void(0)" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                <li class="youtube"><a href="javascript:void(0)" target="_blank"><i class="fa fa-youtube"></i></a></li>
                <li class="dribbble"><a href="javascript:void(0)" target="_blank"><i class="fa fa-dribbble"></i></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="logo-bar">
    <div class="container">
      <div class="row"> 
        <!-- Logo --> 
        <!-- Navigation -->
        <div class="col-md-12 col-sm-12  col-xs-12 mainmenu-area">
          <nav class="navbar navbar-default mean-nav"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <a class="navbar-brand" href="index.html"><img src="images/logo-one.png" class="logo-change" alt="College Education"/></a> </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="mobile-menu nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Courses <i class="fa hover-inn fa-angle-down"></i></a>
                  <ul class="sub-menu">
                    <li><a href="courses-grid.html">Courses grid</a></li>
                    <li><a href="courses-grid-sidebar.html">Courses grid sidebar</a></li>
                    <li><a href="courses-list-sidebar.html">Courses list sidebar</a></li>
                    <li><a href="courses-single.html">Courses single</a></li>
                  </ul>
                </li>
                <li><a href="our-staff.html">Our Staff</a></li>
                <li> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <i class="fa hover-inn fa-angle-down"></i></a>
                  <ul class="sub-menu">
                    <li><a href="about-us.html">About Us</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                    <li><a href="404.html">404</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                  </ul>
                </li>
                <li> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery <i class="fa hover-inn fa-angle-down"></i></a>
                  <ul class="sub-menu">
                    <li><a href="grid-gallery.html">Grid Gallery</a></li>
                    <li><a href="full-gallery.html">Full Width Gallery</a></li>
                    <li><a href="masonry-gallery.html">Masonry Gallery</a></li>
                    <li><a href="modern-gallery.html">Modern Gallery</a></li>
                  </ul>
                </li>
                <li> <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contact Us <i class="fa hover-inn hover-inn fa-angle-down"></i></a>
                  <ul class="sub-menu">
                    <li><a href="contact-us-1.html">Contact Us 1</a></li>
                    <li><a href="contact-us-2.html">Contact Us 2 </a></li>
                    <li><a href="contact-us-3.html">Contact Us 3 </a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse --> 
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End --> 
<!-- Banner Wrapper Start -->
<div class="banner-wrapper">
  <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel"> 
    <!-- Overlay -->
    <!-- <div class="overlay"></div> -->
    <!-- Indicators -->
    <!-- <ol class="carousel-indicators">
      <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#bs-carousel" data-slide-to="1"></li>
      <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol> -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item slides active">
        <div class="slide-1"><img src="{% static 'images/banner.jpg' %}" alt=""/></div>
        <div class="hero">
          <h1 class="animated1">College Education</h1>
          <h3 class="animated2">Multipurpose Responsive Template</h3>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-2"><img src="{% static 'images/banner1.jpg' %}" alt=""/></div>
        <div class="hero">
          <h1 class="animated1">College Education</h1>
          <h3 class="animated2">Multipurpose Responsive Template</h3>
        </div>
      </div>
      <div class="item slides">
        <div class="slide-3"><img src="{% static 'images/banner2.jpg' %}" alt=""/></div>
        <div class="hero">
          <h1 class="animated1">College Education</h1>
          <h3 class="animated2">Multipurpose Responsive Template</h3>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="index.html#bs-carousel" data-slide="prev"><span class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"></span></a> <a class="right carousel-control" href="index.html#bs-carousel" data-slide="next"><span class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"></span></a> </div>
</div>
<!-- Banner Wrapper End --> 


</body>
</html>