{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="{% static 'assets/js/newprofile.js' %}"></script>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center">User Profile Card</h2>

<div class="card">
    
  <center>
    {% if user.image is None %}
        <img src="/media/media/insta-6.jpg" alt="Default-image-for-user-{{user.id}}" class="img-responsive " style="width: 100px">
    {% else %}
        <img src="/media/{{user.image.url}}" alt="Default-image-for-user-{{user.id}}" class="img-responsive " style="width: 100px">
    {% endif %}
    <hr>
  </center>
  <h1>{{user.fullname}}</h1>
  <p class="title">{{user.email}}</p>
  <p>+91 {{user.contact}}</p>
  <p>{{user.address}}</p>
  
 <p><button type="submit" name='confirm'>Confirm</button></p>
</div>

</body>
</html>
