{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/sign_up.css' %}">
<script type="text/javascript" src="{% static 'assets/js/newprofile.js' %}"></script>

</head>
<body>

<div class="container-fluid" class="col-sm-offset-3 col-sm-6">
  <div class="row">
    <!-- <div class="col-md-6 img"> -->
      <center>
        {% if user.image is None %}
            <img src="/media/media/insta-6.jpg" alt="Default-image-for-user-{{user.id}}" class="img-responsive " style="width: 100px">
        {% else %}
            <img src="/media/{{user.image.url}}" alt="Default-image-for-user-{{user.id}}" class="img-responsive " style="width: 100px">
        {% endif %}
        <hr>
      </center>
   
   
      <blockquote>
        <h5>{{user.fullname}}</h5>
        <small><cite title="Source Title">{{user.address}}<i class="icon-map-marker"></i></cite></small>
      </blockquote>
      <p>
        {{user.email}} <br>
        +91 {{user.contact}}
      </p>

    <div>
      <a href="/delete/{{user.id}}" role="button" >Delete Account</a><br>
      <a href="/update/{{user.id}}" role="button" >Update Profile</a><br>
      <a href="/signin/" role="button"  onclick="clean();">logout</a>
    </div>
    <script type="text/javascript">
        function clean() {
            localStorage.clear();
            window.location.href='/signin/'
        }
    </script>

<!-- </div> -->
</div>
</div>
</body>
</html>