{% load static %}
<!DOCTYPE html>
<html>
<head>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'assets/js/newprofile.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  .container{
    padding:5%;
}
.container .img{
    text-align:center;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}
</style>

</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <center>
        {% if user.image is None %}
            <img src="/media/media/insta-6.jpg" alt="Default-image-for-user-{{user.id}}" class="img-responsive " style="width: 100px">
        {% else %}
            <img src="/media/{{user.image.url}}" alt="Default-image-for-user-{{user.id}}" class="img-responsive " style="width: 100px">
        {% endif %}
      <blockquote>
        <h5>{{user.fullname}}</h5>
        <cite title="Source Title">{{user.address}}<i class="icon-map-marker"></i></cite>
      
      <p>
        {{user.email}} <br>
        +91 {{user.contact}}
      </p>
      </blockquote>
    <div>
      <a href="/delete/{{user.id}}" role="button" >Delete Account</a><br>
      <a href="/update/{{user.id}}" role="button" >Update Profile</a><br>
      <a href="/signin/" role="button"  onclick="clean();">logout</a>
    </div>
    </div>
    </center>
   <script type="text/javascript">
        function clean() {
          localStorage.clear();
          window.location.href='/signin/'
        }
    </script>

  </div>
</div>
</body>
</html>