{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'assents/css/sign_up.css' %}">
<script type="text/javascript" src="{% static 'assents/js/newprofile.js' %}"></script>

</head>
<body>

    
    <div class="page-container">
        <div class="page-container">    
			<h1>Profile page</h1>

            <h3>{{user.fullname}}</h3>
            <p>{{user.email}}</p>
            <p>+91 {{user.contact}}</p>
            <p>{{user.address}}</p>
            <button type="submit" name='confirm'>Confirm</button>
        </div>        
    </div>

    
		

</body>
</html>