{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/sign_in.css' %}">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'assets/js/localsto.js' %}"></script>
    
    
</head>  
    
    
<body>    
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">Sign In</p><form name="myform" class="login" onsubmit="profile(event)" method="post">{% csrf_token %}
                <input type="text" name="email" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                    <center>
                        <a href="/signup/">Don't have an account</a>
                    </center>
                    </div>
                </div>    
                </form>
            </div>
        </div>
    </div>
    
</div>


</body>
</html>
