{% load static %}
<!DOCTYPE html>
<html lang="en"
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'assets/css/sign_up.css' %}">
<script type="text/javascript" src="{% static 'assets/js/updatepro.js' %}"></script>

</head>
<body>


    <div class="page-container">
            
        <form name="myform" method="POST" onsubmit="updatepro(event)">{% csrf_token %}
            <h1>Update</h1>
            <div style="display: none;"><input type="text" class="form-control" id="userId"  name="userId" value="{{user.id}}"></div>
            <input type="text" id="fullname" placeholder="Type your fullname" name="fullname" value="{{user.fullname}}" required="true" autofocus="true" maxlength="50">
            <input type="email" id="email" placeholder="Type your email" name="email" value="{{user.email}}" required="true">
            <input type="contact" id="contact" placeholder="Type your contact 10 digit contact number" name="contact" value="{{user.contact}}" maxlength="10" oninput='this.value=this.value.replace(/[^0-9]/g, "")' pattern="^([789]([0-9]{9}))$" title='Mobile number(INDIAN) should contain exactly 10 digits starting with 7/8/9' required="true">
            <input  id="password" placeholder="Type your password" name="password" value="{{user.password}}" required="true" pattern=".{5,20}" title="password length should vary between 5-20" maxlength="20">
            <textarea id="address" placeholder="Type your address" name="address"  required="true" rows="5">{{user.address}}</textarea>
            <button type="submit" name='confirm' >Confirm</button>
                
        </form>
    </div>
        

</body>
</html>